@import './loading.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 3em;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  background-color: lightgrey;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.clean-list > li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  display: flex;
}

.img-carousel {
  position: relative;
}

.fa-chevron-right {
  right: 20px;
}
.fa-chevron-left {
  left: 20px;
}

.btn {
  position: absolute;
  top: 43%;
  font-size: 30px;
  background-color: #4a484454;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  outline: 2px solid #4a4844a6;
  border: 2px solid #4a4844a6;
  outline-offset: -2px;
  transition: outline-offset 250ms ease;
  min-width: 65px;
  text-align: center;
}

.btn:hover {
  background-color: #4a4844a6;
  color: #f5f5f575;
  outline-offset: -6px;
}

.proj-idx {
  position: absolute;
  bottom: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 25px;
}

.proj-idx > * {
  padding: 4px 15px;
  border-radius: 3em;
  border: 1px solid #00000085;
  cursor: pointer;
}
